* {
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 4px;
    background-color: #25252A;
    box-sizing: border-box;
}


.header{
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    color: white;
}

.header{
    margin-top: 2.5em;
    font-size: 3em;
}

#subheader{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 70%;
    max-width: 700px;
    margin: 0 auto;
    color: white;
    font-size: 1em;
    margin-bottom: 3em;
}

.box{
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
    justify-content: center;
}

#or p{
    color:white;
    text-align: center;
    border-radius: 5px;
}


textarea::-webkit-input-placeholder {
    text-align: center;
}

 input[type = keyInput], input[type = file]{
    color:black;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    margin-top: 2em;
    width: 100%;
    max-width: 700px;
    margin: 10 auto;
}

#outputBox p{
    display: none;
    color:black;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    margin-top: 2em;
    width: 100%;
    max-width: 700px;
    margin: 10 auto;
    text-align: left;
    font-size: .9em;
    word-break: break-all;


}

textarea{
    color:black;
    text-align: left;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    margin-top: 2em;
    width: 100%;
    max-width: 700px;
    margin: 10 auto;
}

input[type = file]{
    width: 50%;
    margin-left: 25%;
    margin-top: 5px;
}




.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    min-height: 20vh;
    width: 90%;
    max-width: 700px;
    margin: 0 auto;
}

#button1, #button2{
    width:200px;
    height: 50px;
    border: none;
    color:white;
    background-color: #25252A;
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 #42FBF2;
    transition: ease-out 0.3s;
    font-size: 1rem;
    border:3px solid #42FBF2;
    outline: none;
}

#button1:hover{
    box-shadow: inset 300px 0 0 0 #42FBF2;
}

#button1:active{
    border: blue;
    border-radius: 25px;
}

#button2{
    background-color: #42FBF2;
    box-shadow: inset 0 0 0 0 #25252A;
}

#button2:hover{
    box-shadow: inset 300px 0 0 0 #25252A;
}

#button2:active{
    border:3px solid white;
    border-radius: 25px;
}



